@use "./../1-global" as g;

.createAnimalWrapper {
  background-color: #cccccc;

  border-radius: 8px;
  background: g.$background;
  filter: drop-shadow(-7px 11px 6px #000);

  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;


  #inputWrapper {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    #inputSection {
      grid-column: 1;

      display: grid;
      grid-template-columns: 1.5fr 2fr;

      .inputLabel {
        grid-column: 1;
      }

      #sexWrapper {
        grid-column: 2;
      }

      .input {
        border-radius: 3px;
        max-height: 2rem;
        margin-top: 1rem;
        grid-column: 2;
        border-style: none;

        &__input-approved {
          border-style: solid;
          border-color: g.$approved;
          //background-image: url("./../../../resources/check-lg.svg");
        }
        
        &__input-denied{
          border-style: solid;
          border-color: g.$denied;
          //background-image: url("./../../../resources/x-lg.svg");
        }
        
        
      }

      .input:focus {
        outline-style: none;
        border-style: solid;
        border-color: g.$focused;
      }
    }

    #inputDecoration {
      grid-column: 2;
      margin-left: 2rem;

      #imageWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        img{
          margin-top: 2rem;
          width: 25rem;
          height: 20rem;
          border-radius: 15px;

        }
      }

      #boundariesP, #boundariesUl{
        color: rgb(129, 129, 129);
      }
    }
  }
}

.buttons{
  margin-left: 80%;
}