
$buttons_radius: 1.5rem;

$global_background: #afb182ab;
$background: #dee1b1;
$primary_button: #ffd16f;
$primary_button_disabled: #5cb8b1;

$button_height: 2.4rem;
$button_width: 10rem;

$approved : #00cc00;
$denied : #cc0000;
$focused: #1de7d6;
